.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navbar {
  border: 1px solid #196393;
  height: 100px;
}
/* .RecipeCard {
  float: left;
  padding: 10px;
} */

/* Details Page  */

.DetailsContent {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 30%; */
}

/* Recipe Cards */

.RecipesWrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
