.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background-color: rgb(221, 221, 221); */
  font-family: "Signika", sans-serif;
  background: #eeeeee;

  /* background: -moz-linear-gradient(left, #424242 0%, #777f71 50%, #757575 100%);
  background: -webkit-linear-gradient(
    left,
    #424242 0%,
    #777f71 50%,
    #757575 100%
  );
  background: linear-gradient(to right, #424242 0%, #777f71 50%, #757575 100%); */
}

/* body > h {
  font-family: "Dancing Script", cursive;
} */

/* font-family: 'Dancing Script', cursive;
font-family: 'Signika', sans-serif; */

/* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */

.detailsContent {
  width: 80%;
  margin: 0 auto;
  display: grid;
  /* grid-template-rows: repeat(7, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "im im im im i i"
    "im im im im i i"
    "r r r v v v"
    "r r r v v v";

  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  font-family: "Signika", sans-serif;
}

.detailsContent h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3vw;
}

.detailsImage {
  grid-area: im;
  /* border: 1px solid #000000; */
  /* border-radius: 10px; */
  /* background-color: #636363; */
}

.detailsImage > img {
  /* max-width: 100%; */
  /* max-height: 100%; */
  border-radius: 10px;
  padding: 0px;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
}

/* Shine */
.detailsImage figure {
  position: relative;
  overflow: hidden;
}
.detailsImage figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.detailsImage figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.detailsImage h1 {
  /* position: absolute;
  font-size: 5rem;
  font-family: "Comic Sans MS", cursive, sans-serif;

  margin-left: 10px;
  float: letf; */
}

.detailsIngredients {
  grid-area: i;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffff;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);

  /* background: #424242; */
  /* background: -moz-linear-gradient(left, #6d6d6d 0%, #9ea896 50%, #bbbbbb 100%);
  background: -webkit-linear-gradient(
    left,
    #424242 0%,
    #777f71 50%,
    #757575 100%
  );
  background: linear-gradient(to right, #6d6d6d 0%, #9ea896 50%, #bbbbbb 100%); */
}

.detailsIngredients ul li {
  font-size: 1.5vw;
  line-height: 2;
  list-style-type: none;
  margin-left: 2px;
}

.detailsIngredients h1 {
  margin-left: 20px;
}

.detailsInstructions {
  grid-area: r;
  /* font-size: 20px; */
  text-align: justify;
  white-space: pre-line;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 30px;
  font-size: 1.5vw;
  /* column-count: 2;
  column-rule-style: double; */
  line-height: 54;
  background-color: #eeeeee;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
  /* 
  background: -moz-linear-gradient(left, #6d6d6d 0%, #9ea896 50%, #bbbbbb 100%);
  background: -webkit-linear-gradient(
    left,
    #424242 0%,
    #777f71 50%,
    #757575 100%
  );
  background: linear-gradient(to right, #6d6d6d 0%, #9ea896 50%, #bbbbbb 100%); */

  text-indent: 40px;
}

.detailsVideo {
  grid-area: v;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
}

.detailsVideo iframe {
  margin: 10px;
  display: block;
  width: 100%;

  /* max-width: 100%; */
}

/* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */

.RecipesWrapper {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 17px;
}

/* grid-template-columns: minmax(0, 1fr) 300px; */

.RecipeCard {
  text-align: center;

  /* width: 50%; */
  margin: 0 auto;
  text-align: center;
  /* overflow: hidden; */

  border: 1px solid #000000;
  height: auto;
  width: auto;
  /* float: left; */

  -webkit-box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.8);
  padding: 5px;
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  border-radius: 10px;
}

.RecipeCard img {
  max-width: 100%;
  border-radius: 10px;
  /* max-height: 100%; */
}

.RecipeCard button {
  border-radius: 10px;
}

.RecipeCard h4 {
  border-radius: 10px;
  text-transform: capitalize;
}

.RecipeCard:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.01);
  transition: all 0.3s ease;
}

.cardPlaceholder {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("back.png");
  background-image: image;

  -webkit-animation: fadein 7s; /* Safari and Chrome */
  -moz-animation: fadein 7s; /* Firefox */
  -ms-animation: fadein 7s; /* Internet Explorer */
  -o-animation: fadein 7s; /* Opera */
  animation: fadein 7s;
}
@keyframes fadein {
  0% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("back.png");
    background-image: image;
  }
  10% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("back.png");
    background-image: image;
  }
  20% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("back.png");
    background-image: image;
  }
  30% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("back.png");
    background-image: image;
  }
  40% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("back.png");
    background-image: image;
  }
  50% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url("back.png");
    background-image: image;
  }
  60% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("back.png");
    background-image: image;
  }
  70% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      url("back.png");
    background-image: image;
  }
  80% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      url("back.png");
    background-image: image;
  }
  90% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("back.png");
    background-image: image;
  }

  100% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      url("back.png");
    background-image: image;
  }
}

@-webkit-keyframes fadein {
  0% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("back.png");
    background-image: image;
  }
  50% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("back.png");
    background-image: image;
  }
  100% {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      url("back.png");
    background-image: image;
  }
}

/* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */

.navbar {
  height: 120px;
  display: grid;
  grid-template-columns: repeat(13 1fr, minmax(10px, 1fr));
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  /* background-color: #d3d3d3; */
  background: #eeeeee;
  /* background: -moz-linear-gradient(left, #363636 0%, #6c7467 50%, #5f5f5f 100%);
  background: -webkit-linear-gradient(
    left,
    #424242 0%,
    #777f71 50%,
    #757575 100%
  );
  background: linear-gradient(to right, #363636 0%, #6c7467 50%, #5f5f5f 100%); */
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.69);
}

.navbar img {
  border-radius: 10px;
}

.navbarLogo {
}

.navbarDetails {
  grid-column: 3 / 10;
  align-items: center;
  text-align: center;
}

.navbarDetails h1 {
  font-family: "Dancing Script", cursive;
  font-size: 4.5vw;
  padding: 0px;
  margin: 0px;
}

.navbarLogin {
  grid-column: 11/13;
  margin-top: 10px;
}

.navbarLogin button {
  margin-top: 10px;
}

.navbarSearch {
  grid-column: 6/8;
  text-align: center;
  max-width: 100%;
}

#Time {
  width: 5px;
}

#ingredients {
  /* width: 20px; */
}
/* .navbar input {
  border-radius: 10px;
}
.navbar button {
  border-radius: 10px;
} */

.iButton {
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 10px;
  /* font-size: 10px; */
}

#selectButton {
  margin-right: 5px;
  margin-top: 17px;
  border-radius: 10px;
  color: #175c10;
  width: 10%;
  height: 40px;
}

#social img {
  margin-top: 10px;
  margin-left: 10px;
}

/* animation */ /* animation */ /* animation */ /* animation */ /* animation */ /* animation */ /* animation */ /* animation */ /* animation */

@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
body {
  /* background-color: #ffde6b; */
  /* height: 100vh;
  width: 100vw;
  overflow: hidden; */
}

h2 {
  position: relative;
  margin: 0 auto;
  top: 25vh;
  width: 100vw;
  text-align: center;
  font-family: "Amatic SC";
  font-size: 6vh;
  color: #333;
  opacity: 0.75;
  animation: pulse 2.5s linear infinite;
}

#cooking {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}
#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #333;
  opacity: 0;
}
#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #0300b8;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #bb0d0d;
  animation: bubble 2s ease-in-out 0.35s infinite;
}
#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: rgb(3, 197, 29);
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}
#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}
#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}
#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}
#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid rgb(0, 0, 0);
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}
#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}
#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: rgb(169, 172, 11);
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-27deg);
  }
  30%,
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(27deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}
@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
}

/* details placeholder */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.load {
  position: relative;
  margin: 50px auto;
  width: 100px;
  height: 80px;
}

.gear {
  position: absolute;
  z-index: -10;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 5s infinite;
  animation: spin 5s infinite;
}

.two {
  left: 40px;
  width: 80px;
  height: 80px;
  -webkit-animation: spin-reverse 5s infinite;
  animation: spin-reverse 5s infinite;
}

.three {
  top: 45px;
  left: -10px;
  width: 60px;
  height: 60px;
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  50% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  50% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.lil-circle {
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
  width: 100px;
  height: 100px;
  opacity: 0.65;
}

.blur-circle {
  position: absolute;
  top: -19px;
  left: -19px;
}

.text {
  color: lightgray;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */ /* logos */
