.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(221, 221, 221);
}

/* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */ /* Details Page  */

.detailsContent {
  width: 80%;
  margin: 0 auto;
  display: grid;
  /* grid-template-rows: repeat(7, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "im im im im i i"
    "im im im im i i"
    "v v v v v v"
    "r r r r r r";

  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
}

.detailsImage {
  grid-area: im;
  border: 1px solid #000000;
  border-radius: 10px;
}

.detailsImage > img {
  max-width: 100%;
  /* max-height: 100%; */
  border-radius: 10px;
}

.detailsIngredients {
  grid-area: i;
  border: 1px solid #000000;
  border-radius: 10px;
}

.detailsIngredients ul li {
  font-size: 2vw;
  line-height: 1.5;
  list-style-type: none;
  margin-left: 2px;
}

.detailsIngredients h1 {
  margin-left: 20px;
}

.detailsInstructions {
  grid-area: r;
  font-size: 20px;
  text-align: justify;
  white-space: pre-line;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  font-size: 2vw;
}

.detailsVideo {
  grid-area: v;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsVideo iframe {
  margin: 10px;
  display: block;
  width: 100%;

  /* max-width: 100%; */
}

/* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */ /* Recipe Cards */

.RecipesWrapper {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

/* grid-template-columns: minmax(0, 1fr) 300px; */

.RecipeCard {
  text-align: center;

  /* width: 50%; */
  margin: 0 auto;
  text-align: center;
  /* overflow: hidden; */

  border: 1px solid #000000;
  height: auto;
  width: auto;
  /* float: left; */

  -webkit-box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.8);
  padding: 5px;
  background-color: rgb(179, 179, 179);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  border-radius: 10px;
}

.RecipeCard img {
  max-width: 100%;
  border-radius: 10px;
  /* max-height: 100%; */
}

.RecipeCard button {
  border-radius: 10px;
}

.RecipeCard h4 {
  border-radius: 10px;
  text-transform: capitalize;
}

.RecipeCard:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.01);
  transition: all 0.3s ease;
}

/* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */ /* Navbar */

.navbar {
  border: 1px solid #239319;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(12, 100px);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.navbar img {
  border-radius: 10px;
}

.navbarLogo {
}

.navbarDetails {
  grid-column: 3 / 10;
  align-items: center;
  text-align: center;
}

.navbarLogin {
  grid-column: 11/13;
  margin-top: 10px;
}

.navbarLogin button {
  margin-top: 10px;
}

.navbarSearch {
  grid-column: 3/10;
  text-align: center;
}
/* .navbar input {
  border-radius: 10px;
}
.navbar button {
  border-radius: 10px;
} */

.iButton {
  margin-right: 5px;
  margin-top: 5px;
}
